:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header{
  display: flex ;
  border-bottom: 1px solid black;
  align-items: center;
}

nav ul {
  margin: 45px;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li{
  margin-left: 20px;
  font-family:"Century Gothic";
  font-size: 20px;

}

a {
  font-weight: 2.0em;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 1.8em;
  font-family: "Century Gothic";
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.student{
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 230px;
    max-height: 300px;
    display: inline-block;
}

.student .student-image{
    max-width: 50%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;

}

.student .student-title{
  font-family: "Century Gothic";
  font-size: 0.9em;
  font-weight: normal;
  margin: 0;
  color: black;

}

.student .student-text{
  font-family: "Century Gothic";
  font-size: 0.8em;
  color: black;

}
